/* Your custom styles */
body{
  /* background-color: #C5C6C7; */
  font-family: 'Josefin Sans', sans-serif;
}
/* brandstatement */
.brandState{
  font-size: 20px;
  color: black;
}
.brand{
  padding-right: 60px;
  margin-top: 21vh;
}

.navbar, .form, .black{
  background-color:#080F5B;
}

.navbar-brand{
  color: White;
  font-family: courier;
}

 .form, .contactform{
  color:#EDF5E1;
}

h2{
  color:#EDF5E1;
}
.projectImages{
  max-height:400px;
  max-width:400px;
  box-shadow: 1px 2px 4px #080F5B;
}

.Hector{
  margin-top: 18vh;
}

.gray{
  background-color: white;
  margin: 0;
  padding: 20px;
}

footer{
margin: 0;
padding: 0 30px;
background-color: #080F5B;
position: fixed;
bottom: 0px;
width: 100%;
}
.title{
  text-align: center;
}

.projects{
  text-align: center;
  padding: 30px;
}

.padding{
padding: 50px;
}

.aqua{
  background-color: white;
  color: lime;
}

.bottomBox{
    color: #EDF5E1;
    text-align: center;
    font-size: 40px;
}

.skills{
  text-align: center;
  margin: 150px auto;
  color:#080F5B;
  font-size: 50px;
  padding: 10px;
}

.profileSection{
  height: 700px;
}

.art {
  margin-top: 50px;
  margin-bottom: 10px;
  height: 370px;
  overflow: hidden;
  /* border: 1px solid red; */
  padding-top: 60px;
}

.art2:hover, .devc:hover {
  opacity: 0.6;
}

.art > a > img {
  /* display: inline-block; */
  margin: 0;
  width: 70%;
  height: auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.GameTitle{
  text-decoration: underline;
}

.footer{
  text-align: center;
}

textarea{
  font-size: 20px;
}

.navtabs{
  display: inline;
  padding-right: 30px;
  color:white;
}

.paddingfornav{
  margin-top: 20px;
}
a{
  color:white;
}
