/* Your custom styles */
::-webkit-scrollbar {
    display: none;
}
body{
  font-family: 'Josefin Sans', sans-serif;
}
.navbar{
  background-color:#080F5B;
  color: White;
  font-family: courier
}
.navtabs{
  display: inline;
  padding-right: 30px;
  color:white;
}

footer{
margin: 0;
padding: 0 30px;
background-color: #080F5B;
position: fixed;
bottom: 0px;
width: 100%;
text-align: center;
}

/***************** HOME PAGE  ***********/
.brandState{
  font-size: 20px;
  color: black;
}
.brand{
  padding-right: 60px;
  padding-left: 60px;
  margin-top: 21vh;
}

.Hector{
  margin-top: 18vh;
}

.Mephoto{
  background-color: white;
  margin: 0;
  padding: 20px;
}

.skills{
  text-align: center;
  margin: 0px auto;
  color:#080F5B;
  font-size: 50px;
  padding-top: 100px;
  vertical-align: middle;
  height: 250px;
  /* border: 1px solid red; */
}


/***************Contact Page  ***********/
.ContactHeader{
  margin-top: 100px;
  color:#080F5B;
  text-align: center;
}
.contactSpan{
  font-size: 25px;
}
.form {
background-color:white;
color:#080F5B;
height: 50%;
font-size: 23px;
}
.formContainer{
  background-color:white;
  margin: 75px auto;
  width: 50%;
  height: 300px;
}
.contactInfo{
  display: flex;
  white-space: nowrap;
  font-size: 26px;
  padding: 5px 5px 0px 5px ;
}

.name{
  border: .5px solid white;
}
.formSend{
  text-align: center;
  font-size: 20px;
  background-color:white;
  color:#080F5B;
  margin-top: 20px;
  /* margin-top: 10px; */
}

.myinfo{
  text-decoration-style: none;
  color: #080F5B;
}
.centerinfo{
  text-align: center;
}
/************** Projects ***************/
.modal{
  height: 100%;
  /* widows: 100%; */
  /* z-index: 1; */
  position: fixed;
  background-color: rgba(0,0,0,0.8);
  display: none;
}

.content{
  height: 800px;
  width: 1000px;
  background-color: white;
  margin-top: 100px;
  margin-left: 500px;
  z-index: 1;
  overflow: auto;
  border: 4px solid #080F5B;
  border-radius: 60px;
}
.projectInfo{
  padding: 30px;
}
.projectImages{
  max-height:400px;
  max-width:400px;
  min-width: 150px;
  min-height: 150px;
  box-shadow: 1px 2px 4px #080F5B;
  padding-right: 32px;
  /* border: 3px solid red; */
}

.ImgModal{
  max-height: 500px;
  max-width: 1000px;
  min-width:1000px ;
  min-height:500px ;
}

.art {
  margin-top: 100px;
  margin-bottom: 10px;
  height: 370px;
  overflow: hidden;
  /* border: 1px solid red; */
  padding-top: 30px;
  padding-right: 100px;
}

.GameTitle{
  text-decoration: underline;
  padding-top: 20px;
}

.paddingfornav{
  margin: 20px auto 0px auto;
  /* border: 1px solid red; */
}
a{
  color:white;
}

ul{
  list-style-type: square;
}
h3, h1{
text-decoration: underline;
}
.sitelink{
  color: #080F5B;
  font-size: 20px;
  font-weight: bold;
}
/*********** ABOUT PAGE **************/
.instadiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  /* border: 3px solid red; */
}

.instagram{
width: 15%;
min-width: 200px;
margin: 0 auto;
}

.centerAbout{
  margin-top: 70px;
  padding: 50px 150px;
  text-align: center;
}
/************ MEDIA FOR MOBILE VIEW  *************/

@media screen and (max-width: 1175px){
  .skills{
    padding-top: 50px;
    font-size: 35px;
    margin-bottom: 150px;
  }
  .brand{
    margin-top: 10vh;
  }
  .contactInfo{
    display: inline-block;
  }
}

input[type=submit] {
    padding:5px 15px;
    background:#080F5B;
    color: white;
    border:2 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
